.App {
  text-align: center;
}
.header {
  margin-top: 4vh;
}

.light-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.light-container {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  height: 60vh;
  width: 30vh;
  margin: 8vh;
  display: flex;
  flex-flow: column;
}

.light-frame {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin: 2vh;
  height: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* when the light is dim, background color gets darker to make it distinguishable */
.light-frame.dim {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: lightgrey;
  margin: 2vh;
  height: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* when the light is lit, color changes */
.light-red {
  background-color: darkred;
  border-style: hidden;
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

.light-red.lit {
  background-color: red;
}

.light-green {
  background-color: darkgreen;
  border-style: hidden;
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

.light-green.lit {
  background-color: lightgreen;
}
