.App {
  text-align: center;
}
.header {
  margin-top: 4vh;
}

.light-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.light-container {
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: black;
  background-color: #333;
  height: 60vh;
  width: 30vh;
  margin: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* when the light is lit, color changes */
.light-red {
  background-image: radial-gradient(brown, transparent);
  border-style: hidden;
  border-radius: 50%;
  height: 30%;
  width: 30%;
  padding: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.light-red.lit {
  background-color: red;
}

.light-green {
  background-image: radial-gradient(rgb(2, 175, 2), transparent);
  border-style: hidden;
  border-radius: 50%;
  height: 30%;
  width: 30%;
  padding: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.light-green.lit {
  background-color: lime;
}
